:root {
  /* Colors */
  --color-text: #fff;
  --color-primary: #576cbc;
  --color-secondary: #19376d;
  --color-dark: #0b2447;
  --color-background: #04152d;

  /* Font */
  --font-roboto: "Roboto", sans-serif;
}
